<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Combat blogposts</h1>
        <p class="lead">Most recent, first.</p>
      </div>
    </div>
    <ul class="list-group-flush">
        {% for post in object_list %}
            <li class="list-group-item"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>    - {{ post.author }}
            <br>{{ post.preview }}<br>{{ post.publish_date }}</li>
        {% endfor %}
    </ul>
{% endblock %}
